.post__with__sidebar{
  background: url("../img/postWithSidebar/background.png") no-repeat center;
  background-size: cover;
}

.post__content{
  background-color: #e3e3e3;
}

.post__content__text__in__ramka{
  padding: 70px 60px    ;
  border: 2px solid #a8a8a8;
  color: #3e3d3d;
  font-family: "Crimson Text", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 25px;
}

.post__social__wrapper{
  text-align: center;
  padding: 20px 0;
margin-bottom: 60px;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
}

.post__social__item{
  //background-color: #818181;
  padding: 10px;
  margin-right: 5px;
  color: #818181;
  border: 1px solid #818181;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}